Support additionalProperties with multiple types or anyOf

Following schema doesn't work with fast-json-stringify:

```
const fastJson = require("fast-json-stringify");
const stringify = fastJson({
    type: 'object',
    additionalProperties: {
        type: ['string', 'number'],
    }
});

stringify({foo: 123, bar: 'abc'}); // Error: Cannot coerce 123 to string,number
```

Also using `anyOf` doesn't help:

```
const fastJson = require("fast-json-stringify");
const stringify = fastJson({
    type: 'object',
    additionalProperties: {
        anyOf: [
            { type: 'string' }, 
            { type: 'number' },
        ],
    },
});

stringify({foo: 123, bar: 'abc'}); // Error: Cannot coerce 123 to undefined
```

You can try it on RunKit: https://runkit.com/janvoracek/fast-json-stringify-additionalproperties-multiple-types

Is that part of the standard? If so, would you like to send a PR to add support for it?

I ran into this issue today, but indirectly via Fastify's get() options with a JSON Schema for the "200" response.

It is valid JSON schema to define no "properties" but to declare "additionalProperties" with schema. See https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.section.9.3.2.3

In my case, I am serializing HAL json documents, which contain a "_links" property with specific fields like "href" and "title". I have attached a HAL json schema document for your review.

```json
{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "title": "HAL Resource",
  "description": "JSON Hypertext Application Language Version 8 Internet-Draft, according to https://tools.ietf.org/html/draft-kelly-json-hal-08",
  "definitions": {
    "link": {
      "title": "Link Object",
      "description": "A Link Object represents a hyperlink from the containing resource to a URI.",
      "type": "object",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "description": "Its value is either a URI [RFC3986] or a URI Template [RFC6570]. If the value is a URI Template then the Link Object SHOULD have a \"templated\" attribute whose value is true.",
          "type": "string"
        },
        "templated": {
          "description": "Its value is boolean and SHOULD be true when the Link Object's \"href\" property is a URI Template. Its value SHOULD be considered false if it is undefined or any other value than true.",
          "type": "boolean"
        },
        "type": {
          "description": "Its value is a string used as a hint to indicate the media type expected when dereferencing the target resource.",
          "type": "string"
        },
        "deprecation": {
          "description": "Its presence indicates that the link is to be deprecated (i.e. removed) at a future date. Its value is a URL that SHOULD provide further information about the deprecation. A client SHOULD provide some notification (for example, by logging a warning message) whenever it traverses over a link that has this property. The notification SHOULD include the deprecation property's value so that a client maintainer can easily find information about the deprecation.",
          "type": "string"
        },
        "name": {
          "description": "Its value MAY be used as a secondary key for selecting Link Objects which share the same relation type.",
          "type": "string"
        },
        "profile": {
          "description": "Its value is a string which is a URI that hints about the profile [RFC6906] of the target resource.",
          "type": "string"
        },
        "title": {
          "description": "Its value is a string and is intended for labelling the link with a human-readable identifier (as defined by [RFC5988]).",
          "type": "string"
        },
        "hreflang": {
          "description": "Its value is a string and is intended for indicating the language of the target resource (as defined by [RFC5988]).",
          "type": "string"
        }
      },
      "additionalProperties": false
    }
  },
  "type": "object",
  "additionalProperties": true,
  "properties": {
    "_links": {
      "description": "An object whose property names are link relation types (as defined by [RFC5988]) and values are either a Link Object or an array of Link Objects.  The subject resource of these links is the Resource Object of which the containing \"_links\" object is a property.",
      "type": "object",
      "additionalProperties": {
        "oneOf": [
          {
            "type": "array",
            "items": [
              {
                "$ref": "#/definitions/link"
              }
            ]
          },
          {
            "$ref": "#/definitions/link"
          }
        ]
      }
    }
  }
}
```

I also ran into this issue, and I'm sure that is part of the standard (https://cswr.github.io/JsonSchema/spec/multiple_types/)